#page{
    background-color: rgb(247, 248, 248);
}
header{
    display: inline-block;
    background-color: rgb(7, 71, 55);
    width: 1280px;
    height: 110px;
    text-align: center;
    font-size:20px;
}
#principal{
    display: inline-block;
    width: 900px;
    height: 90px;
    text-align: center;
    font-size:-20px;
}
#principal h2
{
    color: rgb(0, 14, 14);
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-left: 70px;
}
#principal h2 span
{
    color: rgb(248, 252, 251);
    background-color: rgb(7, 71, 55);
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
#principal p{
    color: rgb(0, 14, 14);
    font-weight: bold;
    font-size: 20px;
}
#menu1{
    width: 70px;
    height: 485px;
    background-color: rgb(0, 14, 14);
    float: left;
    
}
#menu2{
    width: 70px;
    height: 485px;
    background-color: rgb(0, 14, 14);
    float: right;
    
    padding-left: 10px;
}
footer{
    display: inline-block;
    background-color:  rgb(7, 71, 55);
    width: 1300px;
    height: 80px;
    margin-top: 11%;
    text-align: center;
}
footer h4{
    color:rgb(248, 252, 251);;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}
#carre{
    display: inline-block;
    text-align: center;
    width: 435px;
    height: 120px;
    padding: 10px 5px;
    font-size:30px;
    padding-top: 40px;
    margin-left: 115px;
    padding: 5px;
    background-color: rgb(0, 14, 14);
    border: 1px solid rgb(0, 14, 14);
}
#carre p{ 
    font-size: 15px;
    color: rgb(247, 248, 248);
    text-decoration: blink underline;
}
.gauche{
   
    border: 2px solid rgb(7, 71, 55);
    padding: 10px 40px;
}
.droite{
    border: 2px solid rgb(7, 71, 55);
    padding: 10px 40px;
}
img{
    width: 90px;
}
.btn.btn-primary {
    font-size: 16px; 
    border: 2px solid rgb(7, 71, 55); 
    background:transparent;
    padding:15px 40px; 
    margin: 10px;
    text-transform:uppercase;
    border-radius:30px;
    background-color: rgb(7, 71, 55);
 }
  
 .btn.btn-primary:hover {
     background:#f5f7f6;
     border-radius:0;
     border: 2px solid rgb(7, 71, 55);
     color:black;
 }
button a{
    color:rgb(248, 252, 251);
    font-weight: bold;
    text-decoration: underline;
}
button a:hover{
    color: #000;
}

